.Call {
  text-align: center;
}

.Call .content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.Call .contentContainer {
  width: 300px;
}

.Call .progressContainer {
  margin-bottom: 5rem;
}
